.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 50, 50);
}

.frm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

input {
  height: 30px;
  padding: 5px;
  border: 1px solid sandybrown;
  background-color: bisque;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: darkgrey;
  border: none;
  cursor: pointer;
}
