.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    height: 100vh;
    gap: 20px;
}
button{
    background-color: aquamarine;
}